/* This will apply to every page */
html,
body,
p,
li {
    font-size: 1.3rem !important; /* Makes text 30% bigger */
    line-height: 1.6;
}

h1 {
    font-size: 2.8rem !important;
}
h2 {
    font-size: 2.2rem !important;
}
h3 {
    font-size: 1.8rem !important;
}

/* Makes links/buttons in your squad select screen beefy */
a {
    font-size: 1.2rem;
}
